<div> Student Details</div>
<button (click)="addStudent()">Add Student</button>
<div class="container-fluid">
    <div>{{title}}</div>
    
    
    <table>
        <thead>Student List</thead>
        <tr>
            <th>sName</th>
            <th>sId</th>
            <th>sClass</th>
            <th>gender</th>
            <th>Actions</th>

        </tr>
        <tr *ngFor="let student of students">
            <td>{{student.sName}}</td>
            <td>{{student.sId}}</td>
            <td>{{student.sClass}}</td>
            <td>{{student.gender}}</td>
            <td><button (click)="view(student)">View</button>
                <button (click)="edit(student)">Edit</button></td>

        </tr>
    </table>
</div>

















